* {
    margin: 0;
}

main {
background-color: rgb(7, 73, 255);
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfR50Pt_8_c4MZMig-09lj7VMfzsyQuhgwmg&usqp=CAU);
background-repeat: no-repeat;
background-position: center;
background-size:cover;
background-origin: border-box;
background-attachment:fixed;



}