@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
#caixinha {
	width: 250px;
}
.m-40 {
	margin: 40px;
}
h1{
    color: pink;
    background-color: yellow;
    width: 200px;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}
h2{color:white;
    background-color: black;
    width: 225px;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}

