:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}

body {
    background-color: var(--body-bg-color);
}

.linha {
    display: flex;
    flex-flow: row wrap;
}

#lateral {
    width: 348px;
}

#conteudo {
    width: calc(100vw - 420px);
    margin-left: 20px;
}

#perfil {
    background-color: var(--bg-cards);
    text-align: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 40px;
    margin-bottom: 20px;
}

#perfil h1 {
    color: var(--text-color);
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 700;
    font-size: 23px;
    line-height: 29px;
}

#perfil h2 {
    color: var(--text-color);
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
}

#lista {


    height: 348px;
    background: #302F3D;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 40px;
    margin-bottom: 20px;
}

#lista ul,
#lista li {
    margin: 0px;
    padding: 0px;

}

#lista li {
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #837E9F;
    list-style: none;
    padding-bottom: 20px;


}

#lista img {
    color: #837E9F;
}

#lista svg path {
    fill: currentcolor;
}

#tecnologia {

    height: 208px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    color: #837E9F;
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    padding: 40px;
}

#tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    width: 109px;
    height: 24px;
    background: #CB92B1;
    border-radius: 30px;
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #000000;
    padding-top: 10px;
    display: block;
    margin-bottom: 10px;

}

.box {
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #837E9F;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    margin-top: 15px;
    padding: 20px;
}

.rocket {
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #837E9F;
}

.data {
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #837E9F;
}

.data_negrito {
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #837E9F;

}

.projeto {
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    color: #837E9F;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}

.onix {
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    font-family: 'Merriweather Sans';
    color: #837E9F;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding: 20px;
    margin-bottom: 20px;
    width: 39%;
    margin-right: 20px;
    
}

.onix h1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    
}

.onix h2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.rightside{
    float: right;
}
